SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=user@example.com
SMTP_PASS=123456

SMTP_FROM="user@example.com"
SMTP_TO="noreply@example.com"
SMTP_SUBJECT="Contact Form Submission"

NAME_CUSTOM_FIELD_1="Custom Field 1"
NAME_CUSTOM_FIELD_2="Custom Field 2"
NAME_CUSTOM_FIELD_3="Custom Field 3"

TEMPLATE=default